@using AnonymousBlog.Data.Models;

@model List<Post>
@{
    ViewData["Title"] = "All Posts";
}
@{
    int count = 1;
    @foreach (var post in Model)
{
    <div class="post-container">
        <h3>@count</h3>
        <table class="table table-bordered">
            <tr>
                <th>Title:</th>
                <td>@post.Title</td>
            </tr>
            <tr>
                <th>Date Created:</th>
                <td>@post.DateCreated.ToString("MMMM dd, yyyy")</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>@post.Description</td>
            </tr>
        </table>
    </div>
        count++;
    }
    
}